<div class="well question-tile">
  <h3>{{#link-to 'question' question.id}}{{question.questiontitle}}{{/link-to}}</h3>
  <p>
    <span class="display-date">{{question.author}}, </span>{{question.date}}.
  </p>

</div>
