body {
  font-family: 'Lato', sans-serif;
  background-color: #EFF1F3;
  color: #272727;
}

.title, h1, h2 {
  font-family: 'Bree Serif', serif;
}

h3 {
  color: #960200;
  font-family: 'Bree Serif', serif;
}

/*navbar styles*/

.navbar-default .navbar-brand {
    color: #AD343E;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggle {
  z-index:3;
}

.new-question{
  background-color: #AD343E;
}

/*header*/

.jumbotron {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/50/Portland_panorama3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.jumbotron-text{
  color: #272727;
  text-align: right;
}

.jumbotron-text h2{
  color: #272727;
  background-color: #EFF1F3;
  padding: 10px;
}

/*content display*/

.question-tile {
  background-color: white;
}

.new-answer-tile{
  background-color: #EFF1F3;
}

.display-author {
  color: #009FB7;
}

.display-answer {
  background-color: #e5f5f7;
}

.answer-fields {
  font-weight: bold;
}

.btn-answer, .btn-answer:hover, .btn-answer:active, .btn-answer:visited {
    background-color: #009FB7 !important;
}

.ask-question{
  background-color: #009FB7;
}
