<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="/">Portland Expat Q&A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-left">
        <a role="button" class="btn btn-danger navbar-btn new-question" href="/#new-question">Ask a new Question</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5 jumbotron-text">
        <h1>Exchange Tips about living in Portland</h1>
        <h2>Get trustworthy advice and local insights from fellow members in our Portland expat Q&A.</h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  {{outlet}}
</div>
