<div class="col-md-6">
    {{#each model.questions as |question|}}
      {{question-tiles question=question}}
    {{/each}}
</div>

<div class="col-md-3">
  <div class="well list-favs">
    <h3>My Questions Watchlist:</h3>
    <dl>
      {{favorite-questions}}
    </dl>

  </div>
</div>
