<div class="well question-tile">
  {{question-expand question=model upvote="upvote" downvote="downvote"}}
</div>
<div class="well new-answer-tile">
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
